/* COLOUR PALETTE
Yellow - #FFF885
Green - #85FFBB
Blue-Purple - #858CFF
Pink - #FF85C9
*/

body {
    background-color: #FFF885;
    color: #858CFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.main-heading {
    text-align: center;
}
.home-button {
    text-align: left;
    border: solid 0.15em #FF85C9;
    padding: 0.2em;
    margin: auto;
    font-size: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bottom {
    margin-bottom: 30em;
}

.top {
    padding: 0.2em;

}

img {
    width: auto;
    height: 15em;
}

/* selects */
.flex-container {
    display: flex;
}
.flex-container a {
    border: solid #858CFF 0.1em;
    flex: 1 1 0%;
    text-align: center;
}

/* .space {
    border: solid red 0.1em;
} */

/* option + shift + a to comment */
/* command + / to comment out a line */
